header{
    width: 100%;
    height: 64px;
    background-color: #4d972c;
    color: #fff;
}
.hide{display: none}
.login {
    width: 168px;
    background-color: #1f460e;
    height: 100%;
    font-size: 14px;
    padding: 22px 26px;
    color: #fff;
    transition: color 0.5s ease;
}

.login i {
    font-size: 24px;
    margin-right: 8px;
    vertical-align: top
}

.login:hover {
    text-decoration: none;
    color: #4d972c;
}
div#loginForm {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9;
}
#loginForm .title {
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    color: #000;
    margin: 28px 0;
}

#loginForm .content {
    margin-top: 16px;
    color: #858383;
    font-size: 15px;
}

#loginForm .content {
    width: 50%;
    margin: auto;
    margin-top: 26px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
}

#loginForm input {
    background: #dadada;
    width: 80%;
    border: 0;
    margin: 1px auto;
    height: 49px;
    color: #fff;
    padding: 17px;
}

#loginForm input:focus {
    outline: none;
    background: #b6b7b6;
}

#loginForm form button.btn.btn-primary {
    width: 80%;
    height: 49px;
    margin-top: 2px;
    font-size: 16px;
    cursor: pointer;
}

#loginForm button.btn.btn-primary:hover {
    background: #2a5813;
}
#loginForm form {
    margin-bottom: 30px;
}

#loginForm .btn.dark {
    background: #1f460e;
}

#loginForm .content > button {
    font-size: 15px;
    margin-top: 20px;
}
.navbar-toggler{display: none}
#navbarNav{display: block}
.navbar a {
    color: #fff;
    transition: color 0.5s ease;
}
.navbar li.active a {
    color: #20450e;
    font-weight: bold;
}
.navbar a:hover {
    color: #20450e;
    text-decoration: none;
}

.navbar li {
    float: left;
    margin: 0 11px;
    text-transform: uppercase;
    font-size: 13px;
}


.navbar-nav {
    display: block;
}

nav.navbar {
    height: 100%;
}

.lang {
    height: 100%;
    line-height: 63px;
    padding: 0 10px;
    font-size: 13px;
    margin-right: 18px;
    position: relative;
}
.lang:before {
    content: '-';
    position: absolute;
    left: -13px;
}
.lang a {
    color: #fff;
    transition: color 0.5s ease;
}

.lang a:hover {
    text-decoration: none;
    color: #20450e;
}

.lang a.active {
    font-weight: bold;
}

.logo {
    width: 87px;
    padding-left: 20px;
    padding-top: 13px;
}
.nav.navbar-nav {
    display: block;
}
.homeBG{
    background: url(../img/homeBG.png);
    width: 100%;
    height: 329px;
    background-size: cover;
}
.aboutBG{
    background: url(../img/aboutBG.png);
    width: 100%;
    height: 329px;
    background-size: cover;
}
.directoryBG{
    background: url(../img/directoryBG.png);
    width: 100%;
    height: 329px;
    background-size: cover;  
}
.applicationBG{
    background: url(../img/applicationBG.png);
    width: 100%;
    height: 329px;
    background-size: cover;
}
.internalBG{
    background: url(../img/internalBG.png);
    width: 100%;
    height: 329px;
    background-size: cover;   
}
.sectionTitle {
    font-size: 18px;
    color: rgb(22,9,9);
    font-weight: bold;
    margin: 27px 0;
}

.sectionContent {
    font-size: 15px;
    color: #858383;
    margin-bottom: -1px;
}

.about {
    width: 70%;
    margin: auto;
}
button.btn.btn-primary {
    font-size: 9px;
    background-color: #4d972b;
    font-weight: bold;
    padding: 7px 18px;
    margin: 10px 0;
    outline: none;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    cursor: pointer;
}
button.btn.btn-primary:hover{
    background-color:#1f460e
}
.featuredEvents{
    color:#fff;
}
.FEtitle {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 32px;
}

.featuredEvents {
    background: #1f460e;
    width: 100%;
    min-height: 478px;
    height: auto;
}
.about {margin-bottom: 24px;}
.featuredEvents .container {
    width: 70%;
    margin: 38px auto;
    padding: 0;
}

.eventItem img {width: 95%;margin-bottom: 19px;}
.eventItem .date {
    font-size: 12px;
    /* padding-left: 8px; */
}

.eventItem .title {
    /* padding-left: 8px; */
    margin-top: -3px;
    font-size: 17px;
}

.eventItem .content {
    /* padding-left: 8px; */
    margin-top: 7px;
    line-height: 19px;
    font-size: 12px;
    color: #c1c1c1;
    text-align: justify;
}

.eventItem button.btn.btn-primary {
    /* margin-left: 8px; */
    margin-top: 20px;
}

.newsLetter {
    width: 80%;
    margin: auto;
}

.newsLetter .title {
    color: #160909;
    font-weight: bold;
    margin-top: 24px;
    font-size: 17px;
}

.newsLetter .content {
    color: #858383;
    width: 58%;
    margin: auto;
    font-size: 14px;
    margin-top: 21px;
}
input.emailField {
    width: 90%;
    background: #20450e;
    border: 0;
    height: 100%;
    float: left;
    padding: 10px;
    font-style: italic;
    font-size: 13px;
    color: #fff;
}

input.emailField:focus {
    outline: none;
    background: #285211;
}

input.submitArrow {
    background: #4e962d;
    border: 0;
    border-radius: 0;
    width: 10%;
    float: left;
    height: 100%;
}

.newsLetterEmail {
    width: 50%;
    margin: auto;
    margin-top: 23px;
    height: 50px;
}

.submitIcon {
    position: relative;
}

.submitIcon i {
    position: absolute;
    right: 23px;
    font-size: 28px;
    color: #fff;
    top: 12px;
}
ul.social {
    padding: 0;
    text-align: center;
    font-size: 22px;
    width: 164px;
    margin: auto;
}

.social li {
    list-style: none;
    float: left;
    border: 1px solid;
    color: #4d972b;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: 33px 9px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.social li:hover {
    color: #21450e;
}
.sep{
    width: 60px;
    height: 7px;
    background-color: #1f450d;
    margin-top: 107px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}
.contactUs {
    width: 80%;
    margin: auto;
}

.contactUs .title {
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
}

.contactUs .content {
    margin-top: 16px;
    color: #858383;
    font-size: 15px;
}

.contactUs form {
    width: 50%;
    margin: auto;
    margin-top: 26px;
}

.contactUs input {
    background: #4e962d;
    width: 100%;
    border: 0;
    margin: 1px 0px;
    height: 49px;
    color: #fff;
    padding: 17px;
}

.contactUs input:focus,.contactUs textarea:focus {
    outline: none;
    background: #417d25;
}

.contactUs textarea {
    background: #4e962d;
    width: 100%;
    margin-top: 1px;
    padding: 14px;
    font-style: italic;
    height: 120px;
    border: 0;
    color:#fff
}

.contactUs button.btn.btn-primary {
    width: 100%;
    height: 49px;
    margin-top: 2px;
    font-size: 16px;
    background: #20450e;
    cursor: pointer;
}

.contactUs button.btn.btn-primary:hover {
    background: #2a5813;
}
footer {
    margin-top: 33px;
    background: #1f460e;
    height: 45px;
    color: #fff;
    font-size: 13px;
    line-height: 44px;
    width: 100%;
    padding-right: 20px;
}
.contactUs ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.contactUs ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.contactUs :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.contactUs :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.emailField::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c1c1c1;
}
.emailField::-moz-placeholder { /* Firefox 19+ */
  color: #c1c1c1;
}
.emailField:-ms-input-placeholder { /* IE 10+ */
  color: #c1c1c1;
}
.emailField:-moz-placeholder { /* Firefox 18- */
  color: #c1c1c1;
}

/*about*/
.boardMembers .member {
    float: left;
    width: calc(20% - 10px);
    margin: 5px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 16px;
}

.boardMembers {
    width: 100%;
    background: #1f460e;
    color: #fff;
}
.boardMembers .container {
    max-width: 70%;
    padding: 0;
}

.boardMembers .secTitle {
    margin-top: 35px;
    font-size: 18px;
    font-weight: 600;
}

.boardMembers img {
    width: 100%;
    margin-top: 20px;
}

.boardMembers .title {
    margin-top: 17px;
    font-size: 12px;
}

.boardMembers .name {
    font-weight: bold;
    font-size: 16px;
}

.boardMembers .bio {
    font-size: 13px;
    margin-top: 10px;
    color: #c1c1c1;
}
.boardMembers .member:nth-child(2) {margin-left: -10px;}
.history .secTitle {
    color: #20450e;
    font-size: 17px;
    margin-top: 22px;
    font-weight: bold;
}

.history {
    width: 100%;
    background: #4e962d;
    color: #fff;
}

.history button.btn.btn-primary {
    background: #20450e;
    margin-top: 23px;
    margin-bottom: 35px;
}
.history .container {
    width: 70%;
    padding: 0;
}

.history .content {
    font-size: 14px;
    margin-top: 20px;
}
.slider {
    position: relative;
}

.slider a#next {
    position: absolute;
    right: -100px;
    font-size: 50px;
    top: 20%;
    color: #fff;
}
.slider a#prev {
    position: absolute;
    left: -100px;
    font-size: 50px;
    top: 20%;
    color: #ffffff42;
}
.payments {
    width: 63%;
    margin: auto;
    margin-top: 40px;
    border-top: 2px solid #0c0c0c;
    border-right: 2px solid #0c0c0c;
}

.userDetails{
    width: 80%;
    margin: auto;
}
.sp{color: #4e962d;}
.row.tableHead {
    margin: 0;
    border-bottom: 2px solid #0c0c0c;
}

.tableHead .paymentTitle {
    padding-left: 0;
    border-right: 2px solid #0c0c0c;
    line-height: 34px;
}

.payments .search {
    background: #eeeeee;
}

.payments .search input {
    background: #eeeeee;
    border: 0;
    width: 83%;
    font-style: italic;
    float: left;
    padding: 0;
    height: 100%;
    color: #787878;
}

.payments .search input:focus {
    outline: none;
}

.payments .search i {
    width: 17%;
    background: #1f1e21;
    height: 100%;
    float: left;
    display: block;
    color: #fffaf8;
    line-height: 31px;
    text-align: center;
}

.payments .search {padding-right: 0;height: 36px;}

.payments .paymentID {
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0;
    padding-left: 0;
    /* border-right: 2px solid #4e962d; */
}


/*user details*/
.userDetails .initials {
    background: gainsboro;
    width: 135px;
    height: 135px;
    margin: auto;
    margin-top: 39px;
    border-radius: 50%;
    font-size: 60px;
    line-height: 130px;
    font-weight: bold;
    color: #5c595a;
}

.userDetails .name {
    font-weight: bold;
    margin-top: 12px;
}

.userDetails .field {
    margin-top: -8px;
}
.tableBody {
    margin: 0;
}

.paymentId .id {
    font-size: 12px;
    margin-top: -7px;
    color: #797979;
    font-weight: normal;
}
.tableRow.row {
    border-bottom: 1px solid #d1d1d1;
    margin: 0;
}
.paymentStatus .status {
    font-size: 14px;
    font-weight: bold;
}

.paymentStatus .date {
    font-size: 12px;
    margin-top: -1px;
    color: #797979;
    font-weight: normal;
}

.payments .paymentStatus {
    margin: 10px 0;
    border-left: 2px solid #4e962d;
}
.payments .paymentStatus.red .status,.payments .paymentStatus.red .date {
    color: #c34340;
}
.payments .paymentStatus.red {
    border-color: #c34340;
}
.payments .contactUs {
    text-align: right;
    font-size: 15px;
    color: #8b8b8b;
}
.payments .contactUs i {
    color: #4e962d;
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    font-size: 22px;
}
.pdf.row {
    width: 83%;
    margin: auto;
}
.pdfItem {
    margin: 20px 0;
}
.pdf .downloadIcon i {
    line-height: 61px;
}
.pdf .openBox {
    width: 32px;
    height: 16px;
    border: 5px solid;
    border-top: 0;
    margin: -26px auto;
}
.pdf .title {
    font-weight: bold;
    margin-top: 13px;
}

.pdf .subTitle {
    font-size: 13px;
}

.pdf .content {
    font-size: 14px;
    margin-top: 16px;
    padding: 0 20px;
    color: #a3a3a3;
}
.pdf .downloadIcon {
    text-align: center;
    font-size: 42px;
    border: 2px solid;
    border-radius: 50%;
    width: 80px;
    margin: auto;
    height: 80px;
}
.container.events {
    width: 66%;
    margin-top: 36px;
}

.events .pageTitle {
    font-weight: bold;
    font-size: 17px;
}
.pager {
    font-size: 13px;
    color: #7e7e7e;
    padding-right: 5%!important;
    text-align: right
}
.pager i.active {
    color: #1c1c1c;
}


.pager i {
    font-size: 16px;
    display: inline-block;
}

.pager span {
    margin: 0px 10px;
    display: inline-block;
}
.row.eventsList {
    margin-top: 35px;
}

.eventsItem img {
    width: 93%;
}
.eventsItem .date {
    margin-top: 18px;
    font-size: 13px;
    color: #888888;
}

.eventsList .title {
    font-weight: bold;
}

.eventsList .content {
    font-size: 15px;
    margin-top: 10px;
    color: grey;
    line-height: 17px;
    width: 93%;
    margin-bottom: 17px;
}
.eventsItem {
    margin-bottom: 37px;
}
.directory .userDetails .initials {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 13px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    color: #656163;
}

.directory .userDetails a {
    float: right;
    display: block;
    color: #5c8542;
    width: 50px;
    text-align: center;
    height: 50px;
    font-size: 24px;
    margin-top: -14px;
}

.directory .userDetails .name {
    float: left;
    width: calc(100% - 90px);
    font-size: 13px;
    margin-top: 16px;
}

.directory .userDetails .field {
    float: left;
    font-size: 12px;
    color: #919191;
    margin-top: 1px;
}

.directory .userDetails:first-of-type {
    border-right: 2px solid;
}

.directory .userDetails {
    margin: 0;
    padding: 0 20px;
}
img.eventDetailImg {
    min-width: 100%;
    height: 333px;
    object-fit: cover;
}

.container.eventDetails {
    width: 67%;
    margin-top: 30px;
}

.eventDetails .date {
    /* padding: 0; */
    float: left;
    color: #777777;
    font-size: 15px;
}

.eventDetails .back {
    /* padding: 0; */
    float: left;
    text-align: right;
}

.eventDetails .back a {
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

.eventDetails .title {
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.eventDetails .content {
    margin-top: 21px;
    color: #838383;
    font-size: 14px;
    float: left;
}
.eventsGallery .galItem {
    width: 20%;
    float: left;
    padding: 0;
    border: 1px solid #fff;
}

.eventsGallery .galItem img {
    width: 100%;
    height: auto;
    max-height: 180px;
}
.eventsGallery {
    margin-top: 51px;
    width: 100%;
}
/*media queries*/
@media only screen and (max-width: 1024px) {
    .payments{width:90%}
    .container.events { width: 90%;}
}
@media only screen and (max-width: 768px) {

.navbar-toggler{display: block}
    #navbarNav.collapse{display: none}

#navbarNav.collapse.show {
    display: block;
}
.login {width: auto;padding: 20px 13px;text-align: center;}

.login span {
    display: none;
}

.lang {
    margin-right: 0;
}

span.navbar-toggler-icon {
    width: 27px;
}

button.navbar-toggler {
    border: none;
}

button.navbar-toggler:active {
    outline: none;
}

li.nav-item {
    width: 100%;
    background: #4d972c;
    border: 1px solid #20450e;
    padding: 9px 20px;
    margin: 0;
}

nav.navbar {
    width: 100%;
    position: relative;
    padding: 0;
}    
.newsLetter .content {
    width: 90%;
}

.newsLetterEmail {
    width: 90%;
}

.submitIcon i {
    right: 14px;
}

input.submitArrow {
    width: 15%;
}

input.emailField {
    width: 85%;
}

.contactUs form {
    width: 90%;
}
.slider a#prev,.slider a#next{display: none}
.boardMembers .member {
    width: calc(100% - 0px);
    margin: 0;
    flex-basis: auto;
}
.lang:before{display: none}
.payments{width:80%}
.payments .contactUs{
    text-align: left
}
.pdf .content {
    padding: 0;
}

.pdf.row {
    width: 95%;
}
#loginForm .content{width:90%}
.eventsGallery .galItem {
    width: 50%;
}
.container.eventDetails {
    width: 90%;
}
}

@media only screen and (max-width: 736px) {
    .pager {
    text-align: left;
}
.eventsGallery .galItem{width: 90%;float: none;margin: auto;/* height: auto; */}

.eventsGallery .galItem img {
    max-height: -webkit-fill-available;
}
}